<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.policestrategies.calm_stop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".citizen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".citizen.LoginActivity" />

        <activity
            android:name=".citizen.SignupActivity" />
        <activity
            android:name=".citizen.DocumentsActivity" />

        <activity
            android:name=".citizen.HomepageActivity" />

        <activity
            android:name=".citizen.ProfileActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".citizen.PreviousStopsActivity" />

        <activity
            android:name=".citizen.HelpActivity" />

        <activity
            android:name=".citizen.AboutUsActivity" />

        <activity
            android:name=".citizen.SettingsActivity" />

        <activity
            android:name=".citizen.SignupFormActivity" />

    </application>
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>
