<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.policestrategies.calm_stop">

    <application
        android:name=".citizen.ProximityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".citizen.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".citizen.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.SignupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.DocumentsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.HomepageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.PreviousStopsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.HelpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".citizen.beacon_detection.BeaconDetectionActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>