<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.policestrategies.calm_stop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_officer"
        android:theme="@style/AppTheme">
        <activity
            android:name=".officer.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".officer.DocviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".officer.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.beacon_registration.BeaconRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.stop.StopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".officer.stop.Survey"
            android:label="@string/title_activity_survey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".officer.survey.SurveyActivity"
            android:label="@string/title_activity_survey"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>